 html,body{
    height: 100%;
}
body{
    background-image: url("imgs/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
}
.home{
    position: fixed;
}
nav{
    background-color: rgba(47, 78, 128, 0.81);
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 23vw;
    font-family: 'Grandstander', cursive;
    box-shadow: 3px 0px 8px black;
    color: #68a8ad;
    text-shadow: 2px 2px #314e63;

}
nav #DOOM{
    width: 90%;
    padding-top: 1%;
    margin-left: 5%;
    opacity: 100%;
}
nav{
    transition: all 100ms ease-in;
}
nav tr:hover {
    background-color: rgba(47, 78, 128, 1);
}
nav .botaomenu{
    padding-top: 1vh;
    padding-bottom: 1vh;
    position: relative;
    width: 100%;
    text-align: center;
    font-size: min(4vw, 2em);
    opacity: 100%;
    background-image: none;
    transition: all 100ms ease-in;
}
#menu{
    display: flex;
    align-items: initial;
    flex-direction: column;
}
nav table{
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}
.botaomenu:hover{
    cursor: pointer;
    background-color: rgba(47, 78, 128, 1);
}
.corpo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: calc(23vw + 2em);
    width: auto;
    row-gap: 1em;
    column-gap: 1em;
    margin-right: 2em;
    margin-top: var(--espacamento-vertical);
    margin-bottom: var(--espacamento-vertical);
    max-height: calc(100vh - 2 * var(--espacamento-vertical));
    --espacamento-vertical: 2.5em;
}
.botaolivro a{
    width: auto;
    display: block;
    height: 100%;
}
#cred{
    position: fixed;
    top: 5%;
    bottom: 5%;
    left: 26%;
    right: 7%;
    padding: 1%;
    background-color: rgba(47, 78, 128, 1);
    font-family: 'Grandstander', cursive;
    color: white;
    font-size: 150%;
    box-shadow: 3px 0px 8px black;
    z-index: 4;
}
.modal{
    z-index: 1;
    position: fixed;
    top: 5%;
    bottom: 5%;
    left: 26%;
    right: 7%;
    padding: 1%;
    background-color: rgba(47, 78, 128, 1);
    font-family: 'Grandstander', cursive;
    color: white;
    font-size: 150%;
    box-shadow: 3px 0px 8px black;
    z-index: 4;
    transition: all 100ms ease-in;
    overflow: auto;
}

.modal p{
    font-size: 1.4rem;
}
.invisivel{
    opacity: 0%;
    z-index: -1;
}
.x{
    position: absolute;
    right: 1vw;
    top: 1vw;
    color: white;
}
.x:hover{
    cursor: pointer;
}
.titulo{
    font-family: 'Grandstander', cursive;
    font-size: 23px;
    color: white;
    width: 100%;
    position: absolute;
    bottom: 0%;
    margin-bottom: 0.8%;
    background-color: rgba(135, 23, 5, 0.6);
    transition: all 300ms ease-out;
}
.botaolivro:hover .titulo{
    background-color: rgba(135, 23, 5, 1);
    font-size: 25px;
}
.titulo{
    font-family: 'Grandstander', cursive;
    font-size: 140%;
    color: white;
    width: 100%;
    position: absolute;
    bottom: auto;
    top: 0;
    margin-bottom: 0vh;
    background-color: rgba(135, 23, 5, 0.6);
    transition: all 300ms ease-out;
}
.botaolivro:hover .titulo{
    background-color: rgba(135, 23, 5, 1);
    font-size: 170%;
}
.pp .titulo{
    top: 0;
    width: 100%;
    bottom: auto;
}
.titulo h2{
    padding-left: 5px;
}

.botaolivro{
    display: inline-block;
    position: relative;
}
.botaolivro img{
    box-shadow: 3px 0px 8px black;
    width: 100%;
    height: calc((100vh - 2 * var(--espacamento-vertical) - 1em) / 2);
    object-fit: cover;
}
.pp {
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
}
.pp img{
  height: calc(100vh - 2 * var(--espacamento-vertical));
  object-position: top center;
}
.len{
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    display: flex;
    align-items: flex-end;
    height: 100%;
    object-fit: cover;
}
.ed{
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
}
#secreto {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    font-size: 2rem;
    text-decoration: none;
    color: white;
}
#secreto a:active, #secreto a:visited,#secreto a:hover, #secreto a{
    color: white;
    text-decoration: none;
}
#secreto:hover{
    opacity: 100%;
}
.quiz, .resenha{
    margin-left: 22%;
    margin-top: 4%;
    margin-right: 9%;
    margin-bottom: 17%;
    font-family: 'Grandstander', cursive;
    background-color: rgba(47, 78, 128, 1);
    position: relative;
    left: 5.5%;
    right: 0;
    padding: 2%;
    color: white;
    box-shadow: 3px 0px 8px black;
}
.capa img{
    position: relative;
    height: 100%;
    width: 100%;
    float: right;
    margin-left: 1%;
    opacity: 1;
}
.capatexto{
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    padding-left: 1%;
    float: right;
    opacity: 0;
    color:black;
    background-color: rgba(255, 255, 255, 0.9);
    transition: all 100ms ease-out;
    overflow: auto;
}
.card img{
    max-width: 100%;
}
.capatexto:hover{
    opacity: 1;
}
.card{
    max-width: 26%;
    float: right;
    position: relative;
    margin-left: 20px;
    background: rgba(47, 78, 128, 1);
    top: -3%;
}
#topo-da-pagina img{
  visibility: visible;
    height: 35%;
    width:19%;
    position: fixed;
    padding: 0;
    transform: translateY(-90%);
    margin-left: 15%;
    opacity:0.5;
    transition: opacity .8s ease;
    transition: translateY .8s ease;
}
#topo-da-pagina img:hover{
    transform: translateY(-60%);
    opacity: 1.0;
}
.texto h1, .corpo-quiz h1{
    font-size: 2.0rem;
}
.texto h2, .corpo-quiz h2{
    font-size: 1.0rem;
}
#listinha li{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
#listinha{
    padding-left: 1.0rem;
}
.texto, .corpo-quiz{
    padding-left: 1.0rem;
    padding-right: 2.0rem;
    font-size: 1.2rem;
}
.texto h1, .corpo-quiz h1{
    font-size: 3.0rem;
    margin-top: 1.0rem;
    margin-bottom: 0.7rem;
}
.texto h2, .corpo-quiz h2{
    margin-top: 0px;
    padding-bottom: 1.3rem;
}
.texto p, .corpo-quiz p{
    font-size: 1.2rem;

    line-height: 1.5em;
    text-align: justify;
    margin-bottom: 2em;
}
#projeto h2{
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}
#projeto p{
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}


.botaomenu span{
  font-family: 'Nosifer', cursive;
  color: #d6c124;
  text-shadow: 3px 3px #bf6913;
  font-size: 70%
}
.botaomenu a{
  text-decoration: none;
  color: inherit;
}
label{
  display: block;
}
.texto a , .corpo-quiz a{
  text-decoration: none;
  color: inherit;
  font-family: 'Nosifer', cursive;
  color: #d6c124;
  text-shadow: 3px 3px #bf6913;
  transition: all .2s ease-in-out;
}
.texto a:hover,  .corpo-quiz a:hover{
  font-size: 1.5rem;
}
#paragrafo{
  text-align: center;
}
#enviar{
  right: 50%;
}
#limpar{
  visibility: hidden;
}
#limpadoAparecendo{
  visibility: visible;
}
label{
    transition: all 0.2ms ease-in;
}
.resultado-bom{
    position: relative;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    border: solid 3px green;
    border-radius: 20px;
    background-color: rgba(78, 207, 19, 0.5);
}
.resultado-ruim{
    position: relative;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    border: solid 2px red;
    border-radius: 20px;
    background-color: rgba(219, 39, 26, 0.5);
}
.resultado-medio{
    position: relative;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    border: solid 2px rgb(255, 196, 0);
    border-radius: 20px;
    background-color: rgba(201, 156, 8, 0.5)
}
.resultado-bom img, .resultado-medio img, .resultado-ruim img{
    float: right;
    position: relative;
    top: -1vw;
    margin-left: 2em;
    right: 1em;
    width: 26vw;
    box-shadow: 3px 0px 8px black;
    border-radius: 20px;
}
.resultado-ruim p, .resultado-bom p, .resultado-medio p{
    font-size: 1.5em;
}
.resultado-bom::after , .resultado-medio::after, .resultado-ruim::after{
    content: "";
    display: block;
    clear: both;
}
@media (max-width:720px){
    nav{
      position: static;
      height: auto;
      width: 100%;
    }
    nav .botaomenu{
      font-size: 150%;
    }
    .corpo{
      display: flex;
      flex-direction: column;
      margin-left: 2%;
      margin-right: 2%;
    }
    .botaolivro img{
      width: 80vw;
    }
    .titulo{
      top: 0;
      bottom: auto;
    }
    .titulo{
      font-size: 70%;
    }
    .botaolivro:hover .titulo{
      font-size: 90%;
    }
    .quiz, .resenha{
      margin-left: 0;
      margin-top: 0;
      margin-right: 2%;
      margin-bottom: 17%;
      padding: 0;
      left: 0;
      right: 0;
      width: 100%;
    }
    #topo-da-pagina img{
      display: none;
    }
    .capatexto{
      font-size: 70%;
    }
    .resultado-bom img, .resultado-medio img, .resultado-ruim img{
      width: 100%;
      position: relative;
      top: -1vw;
      margin-left: 0;
      right: auto;
      box-shadow: 3px 0px 8px black;
      border-radius: 20px;
      left: auto;
      float: none;
    }
    .texto, .corpo-quiz{
        padding-left: 1.0rem;
        padding-right: 2.0rem;
        font-size: 1.2rem;
        margin-top: 1em;
        padding: 1em;
    }
    .card{
        max-width: 50%;
        float: right;
        position: relative;
        margin-left: 20px;
        background: rgba(47, 78, 128, 1);
    }
    .pp{
      grid-column: 2 / span 1;
      grid-row: 1 / span 2;
      height: 70vh;
      width: auto;
      top: 0%;
      margin-top: 7vh;
      margin-left: auto;
      margin-right: auto;
    }
    .len{
        width: auto;
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0%;
        height: 90.51%;
        bottom: 0;
        top: auto;
    }
    .ed{
        grid-row: 1 / span 1;
        grid-column: 1 / span 1;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        top: 0%;
        margin-top: 7vh;
    }
    .botaolivro{
      height: auto;
    }
    .pp img{
      margin-bottom: 3px;
      height: auto;
    }
    .botaolivro img{
      height: auto;
    }
    .resultado-bom p{
      clear: both;
    }
    .resultado-ruim p{
      clear: both;
    }
    .resultado-medio p{
      clear: both;
    }
    .texto h1, .corpo-quiz h1{
        font-size: 2.5rem;
        margin-top: 1.0rem;
        margin-bottom: 0.7rem;
    }
    .modal{
      top: 1%;
      left: 2%;
      right: 2%;
      bottom: 2%;
    }
    body{
      overflow-x: hidden;
      width: 97%;
      -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    #secreto{
      bottom: -90%;
      right: 2%;
      top: auto;
    }

}
