html,body{
    height: 100%;
}
body{
    background-image: url("imgs/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.home{
    position: fixed;
}
nav{
    background-color: rgba(47, 78, 128, 0.81);
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 23vw;
    font-family: 'Grandstander', cursive;
    box-shadow: 3px 0px 8px black;
    color: #68a8ad;
    text-shadow: 2px 2px #314e63;

}
nav #DOOM{
    width: 90%;
    padding-top: 1%;
    margin-left: 5%;
    opacity: 100%;
}
nav tr{
    width: 100%;
}
nav td{
    border-bottom:solid #64acd9 4px;
}
nav tr{
    transition: all 100ms ease-in;
}
nav tr:hover {
    background-color: rgba(47, 78, 128, 1);
}
nav .botaomenu{
    padding-top: 1vh;
    padding-bottom: 1vh;
    position: relative;
    width: 21vw;
    text-align: center;
    font-size: 3em;
    opacity: 100%;
    background-image: none;
    transition: all 100ms ease-in;
}
nav table{
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}
.botaomenu:hover{
    cursor: pointer;
    background-color: rgba(47, 78, 128, 1);
}
.corpo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 32%;
    padding-top: auto;
    padding-bottom: auto;
    width: auto;
    margin-right: 14vw;
}
.botaolivro a{
    width: auto;
}
#cred{
    position: fixed;
    top: 5%;
    bottom: 5%;
    left: 26%;
    right: 7%;
    padding: 1%;
    background-color: rgba(47, 78, 128, 1);
    font-family: 'Grandstander', cursive;
    color: white;
    font-size: 150%;
    box-shadow: 3px 0px 8px black;
    z-index: 4;
}
.modal{
    z-index: 1;
    position: fixed;
    top: 5%;
    bottom: 5%;
    left: 26%;
    right: 7%;
    padding: 1%;
    background-color: rgba(47, 78, 128, 1);
    font-family: 'Grandstander', cursive;
    color: white;
    font-size: 150%;
    box-shadow: 3px 0px 8px black;
    z-index: 4;
}
.modal{
    transition: all 100ms ease-in;
}
.invisivel{
    opacity: 0%;
    z-index: -1;
}
.x{
    position: absolute;
    right: 1vw;
    top: 1vw;
    color: white;
}
.x:hover{
    cursor: pointer;
}
.titulo{
    font-family: 'Grandstander', cursive;
    font-size: 23px;
    color: white;
    width: 100%;
    position: absolute;
    bottom: 0%;
    margin-bottom: 0.8%;
    background-color: rgba(135, 23, 5, 0.6);
    transition: all 300ms ease-out;
}
.botaolivro:hover .titulo{
    background-color: rgba(135, 23, 5, 1);
    font-size: 25px;
}
.titulo{
    font-family: 'Grandstander', cursive;
    font-size: 140%;
    color: white;
    width: 100%;
    position: absolute;
    bottom: 0%;
    top: auto;
    margin-bottom: 0vh;
    background-color: rgba(135, 23, 5, 0.6);
    transition: all 300ms ease-out;
}
.botaolivro:hover .titulo{
    background-color: rgba(135, 23, 5, 1);
    font-size: 170%;
}
.len .titulo{
    margin-bottom: 2.55vh;
}
.pp .titulo{
    top: 0;
    width: 100%;
    bottom: auto;
}
.titulo h2{
    padding-left: 5px;
}
.capa img{
    height: 100%;
    width: 23%;
    float: right;
    padding-left: 20px;
}
.resenha{
    margin-left: 22%;
    margin-top: 4%;
    margin-right: 5%;
    margin-bottom: 10%;
    font-family: 'Grandstander', cursive;
}
.botaolivro{
    height: 40vh;
    display: inline-block;
    position: relative;
}
.botaolivro img{
    box-shadow: 3px 0px 8px black;
    bottom: 0%;
    height: 40vh;
}
.pp {
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
    height: 70vh;
    width: auto;
    top: 0%;
    margin-top: 7vh;
    margin-left: 4vw;
}
.pp img{
    height: 86.7vh;
    width: auto;
}
.len{
    margin-top: 6.5vh;
    width: auto;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0%;
    height: 90.51%;
    bottom: 0;
    top: auto;
}
.ed{
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    margin: auto;
    width: auto;
    top: 0%;
    margin-top: 7vh;
}
#secreto {
    position: absolute;
    top: 0;
    right: 0;
    width: 3vw;
    height: 3vh;
    opacity: 0;
    font-size: 2rem;
    text-decoration: none;
    color: white;
}
#secreto a:active, #secreto a:visited,#secreto a:hover, #secreto a{
    color: white;
    text-decoration: none;
}
#secreto:hover{
    opacity: 100%;
}